!/examples/*.py
!/examples/*.ipynb
!/examples/images/**
!/JOSS-paper/*
/examples/*
!/examples/*.cpp
.eggs/*
.vscode/*
bin/*
build/*
test_build/*
dist/*
env/*
lib/*
lib64
pyoscode.egg-info/*
pyoscode/__pycache__/*
pyvenv.cfg
tests/__pycache__/*
_pyoscode.cpython-*