language: python
python: 
    - "2.7"
    - "3.4"
    - "3.5"
    - "3.6"
install: 
    - pip install -r requirements.txt
    - pip install .
script:
    - coverage run -m pytest tests/
branches:
    only:
    - master
    - joss-paper
after_success:
    - bash <(curl -s https://codecov.io/bash)
