name: Python package

on: 
  pull_request:
  push:
  workflow_dispatch:
  # Here temporarily 
  issue_comment:
    types: [created]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with: 
          python-version: ${{ matrix.python-version }} 
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install .
      - name: Install testing packages
        run: |
          # pip install flake8
          # pip install pydocstyle
          pip install pytest
          pip install pytest-cov pytest-xdist codecov
      - name: Test with pytest
        run: |
          pytest --cov=pyoscode tests
      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v2
